<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="grey" fxLayout="row" fxLayoutAlign="space-between centre">
      <div>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
<!--        <a routerLink="/">Artists</a>-->
<!--        <a routerLink="/albums">Albums</a>-->
      </div>
      <nav *appHasRoles="['user', 'admin'] else anonMenu">
        <button mat-icon-button [matMenuTriggerFor]="menu" >
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu=matMenu>
          <img [src]="'http://localhost:8000/uploads/'+(user | async)?.avatar">
          <button mat-menu-item disabled>{{ (user | async)?.email  }}</button>
          <button mat-menu-item (click)="logout()">Logout</button>
<!--          <button mat-menu-item routerLink="/new-artist" >ADD NEW ARTIST</button>-->
        </mat-menu>
      </nav>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #anonMenu>
  <nav>
    <a mat-button routerLink="/register">REGISTER</a>
    <a mat-button routerLink="/login">SIGN IN</a>
  </nav>
</ng-template>


